{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Add movie{% endblock %}</h1>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">
	<div class="row g-5">
		<div class="col-sm-6 col-md-8">
			<div class="mb-3">
				<label for="title" class="form-label">Title</label>
				<input name="title" id="title" class="form-control" required>
			</div>
			<div class="mb-3">
				<p class="mb-1">Rating</p>
				<input type="radio" class="btn-check" name="option-rating" id="ratingNone" value="-1">
				<label class="btn" for="ratingNone">No rating</label>
				<input type="radio" class="btn-check" name="option-rating" id="rating0" value="1">
				<label class="btn" for="rating0">0</label>
				<input type="radio" class="btn-check" name="option-rating" id="rating1" value="1">
				<label class="btn" for="rating1">1</label>
				<input type="radio" class="btn-check" name="option-rating" id="rating2" value="2">
				<label class="btn" for="rating2">2</label>
				<input type="radio" class="btn-check" name="option-rating" id="rating3" value="3">
				<label class="btn" for="rating3">3</label>
				<input type="radio" class="btn-check" name="option-rating" id="rating4" value="4">
				<label class="btn" for="rating4">4</label>
				<input type="radio" class="btn-check" name="option-rating" id="rating5" value="5">
				<label class="btn" for="rating5">5</label>
			</div>
		</div>
		<div class="col-6 col-md-4 text-center">
			<div class="mb-3">
				<img width="200" height="200" src="{{ url_for('static', filename='images/empty.jpg') }}"
					class="img-thumbnail">
				<br>
				<label for="image" class="form-label">New image</label>
				<input type="file" name="image">
			</div>
		</div>
	</div>
	<div class="mb-3">
		<label for="description" class="form-label">Description</label>
		<textarea name="description" id="description" class="form-control" rows="10"></textarea>
	</div>
	<input class="btn btn-primary" type="submit" value="Add movie">
</form>
{% endblock %}
