{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ movie['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="{{url_for('movie.update', id=movie['id']) }}">Edit</a>
<div class="clearfix">
	<div class="col-md-6 float-md-end ms-3">
		<div class="mb-3 overflow-x-hidden" style="text-align: center">
			{% if movie['image'] %}
			<img src="{{ url_for('serve_image', filename=movie['image']['filename']) }}" style="max-height: 300px;">
			{% else %}
			<img src="{{ url_for('static', filename='images/empty.jpg') }}" style="max-height: 300px;">
			{% endif %}
		</div>
		<p>Rating: {% if movie['rating'] < 0 %} N/A {% else %} {{ movie['rating'] }}/5 {% endif %}</p>
	</div>

	<h2>Description</h2>
	<div>{{movie['description']|markdown}}</div>
</div>

<h2 class="text-center">Review</h2>
<hr>
<div class="row">
	{% with id="pos-and-form", title="Positives", color="border-success", items=positives,
	post_url=url_for('movie.update_vars',
	id=movie['id'], variable="positives") %}
	{% include "movie/item_list.html" %}
	{% endwith %}

	{% with id="neg-and-form", title="Negatives", color="border-danger", items=negatives,
	post_url=url_for('movie.update_vars',
	id=movie['id'], variable="negatives") %}
	{% include "movie/item_list.html" %}
	{% endwith %}
</div>
{% endblock %}
